In [2]:
#from zipfile import ZipFile

In [4]:
#file = "archive(1).zip"

In [1]:
#with ZipFile(file,'r') as zip:
#    zip.printdir()
#    zip.extractall()

In [2]:
#pip install pandas_ta

In [8]:
import pandas as pd
import numpy as np
import pandas_ta as ta
amazon_data = pd.read_csv('Amazon.csv')
apple_data = pd.read_csv('Apple.csv')
facebook_data = pd.read_csv('Facebook.csv')
google_data = pd.read_csv('Google.csv')
netflix_data = pd.read_csv('Netflix.csv')

In [9]:
amazon_data.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2  1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
3  1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
4  1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [10]:
amazon_data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [11]:
print(amazon_data.describe())

              Open         High          Low        Close    Adj Close  \
count  5852.000000  5852.000000  5852.000000  5852.000000  5852.000000
mean    377.469557   381.737827   372.815253   377.500736   377.500736
std     596.291033   602.615299   589.226694   596.287464   596.287464
min       1.406250     1.447917     1.312500     1.395833     1.395833
25%      37.995000    38.590000    37.247501    37.950001    37.950001
50%      83.699997    85.029999    82.055000    83.602501    83.602501
75%     360.852501   365.794991   357.877510   362.217506   362.217506
max    3251.060059  3344.290039  3165.429932  3225.000000  3225.000000

             Volume
count  5.852000e+03
mean   7.512673e+06
std    7.278144e+06
min    4.872000e+05
25%    3.681975e+06
50%    5.652850e+06
75%    8.517450e+06
max    1.043292e+08

In [12]:
amazon_data['RSI'] = ta.rsi(close= amazon_data.Close)

In [13]:
amazon_data['SMA'] = ta.sma(close= amazon_data.Close)

In [14]:
amazon_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,RSI,SMA
5847,2020-08-10,3170.310059,3172.510010,3101.520020,3148.159912,3148.159912,3167300,57.841810,3124.678979
5848,2020-08-11,3113.199951,3159.219971,3073.000000,3080.669922,3080.669922,3718100,52.650341,3132.712964
5849,2020-08-12,3108.000000,3174.389893,3101.419922,3162.239990,3162.239990,3527200,57.603217,3145.583960
5850,2020-08-13,3182.989990,3217.520020,3155.000000,3161.020020,3161.020020,3149000,57.506331,3156.497974
5851,2020-08-14,3178.179932,3178.239990,3120.000000,3148.020020,3148.020020,2749200,56.417390,3154.831983

In [15]:
apple_data.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.101261  469033600.0
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095978  175884800.0
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088934  105728000.0
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.091135   86441600.0
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.093777   73449600.0

In [16]:
apple_data.isna().sum()

Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

In [17]:
print(apple_data.describe())

               Open          High           Low         Close     Adj Close  \
count  10015.000000  10015.000000  10015.000000  10015.000000  10015.000000
mean       9.013322      9.107720      8.920993      9.018933      8.478195
std       16.842643     17.028099     16.677225     16.868353     16.466161
min        0.049665      0.049665      0.049107      0.049107      0.038743
25%        0.270089      0.275357      0.263951      0.270089      0.229988
50%        0.437500      0.446429      0.430357      0.437500      0.369111
75%       10.064286     10.185000      9.886071     10.102678      8.730120
max      132.759995    134.800003    130.529999    134.179993    134.179993

             Volume
count  1.001500e+04
mean   3.413188e+08
std    3.426534e+08
min    1.388800e+06
25%    1.315944e+08
50%    2.285380e+08
75%    4.250092e+08
max    7.421641e+09

In [35]:
#clean_apple_data = apple_data.dropna()

In [18]:
apple_data['RSI'] = ta.rsi(close= apple_data.Close)

In [19]:
apple_data['SMA'] = ta.sma(close= apple_data.Close)

In [20]:
facebook_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200

In [21]:
facebook_data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [22]:
print(facebook_data.describe())

              Open         High          Low        Close    Adj Close  \
count  2076.000000  2076.000000  2076.000000  2076.000000  2076.000000
mean    117.363415   118.699432   115.993733   117.410400   117.410400
std      61.512531    62.170010    60.892664    61.595139    61.595139
min      18.080000    18.270000    17.549999    17.730000    17.730000
25%      67.537501    68.149998    66.795000    67.559999    67.559999
50%     117.795002   118.680000   116.849998   117.765000   117.765000
75%     172.632500   174.255004   170.722496   172.502499   172.502499
max     268.040009   278.890015   263.429993   268.440002   268.440002

             Volume
count  2.076000e+03
mean   3.265524e+07
std    2.906292e+07
min    5.913100e+06
25%    1.621918e+07
50%    2.373235e+07
75%    3.889940e+07
max    5.735764e+08

In [23]:
facebook_data['RSI'] = ta.rsi(close= facebook_data.Close)

In [24]:
facebook_data['SMA'] = ta.sma(close= facebook_data.Close)

In [25]:
google_data.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  50.050049  52.082081  48.028027  50.220219  50.220219  44659000
1  2004-08-20  50.555557  54.594593  50.300301  54.209209  54.209209  22834300
2  2004-08-23  55.430431  56.796795  54.579578  54.754753  54.754753  18256100
3  2004-08-24  55.675674  55.855854  51.836838  52.487488  52.487488  15247300
4  2004-08-25  52.532532  54.054054  51.991993  53.053055  53.053055   9188600

In [26]:
google_data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [27]:
print(google_data.describe())

              Open         High          Low        Close    Adj Close  \
count  4041.000000  4041.000000  4041.000000  4041.000000  4041.000000
mean    533.983149   538.995819   528.658860   533.999060   533.999060
std     383.007917   386.590237   379.488087   383.326004   383.326004
min      49.644646    50.920921    48.028027    50.055054    50.055054
25%     241.211212   243.688690   238.873871   241.036041   241.036041
50%     342.592590   345.795807   338.598602   342.177185   342.177185
75%     791.979980   798.000000   786.200012   790.460022   790.460022
max    1699.520020  1726.099976  1660.189941  1717.390015  1717.390015

             Volume
count  4.041000e+03
mean   6.909802e+06
std    7.895987e+06
min    5.206000e+05
25%    1.844600e+06
50%    4.191600e+06
75%    8.702600e+06
max    8.215110e+07

In [28]:
google_data['RSI'] = ta.rsi(close= google_data.Close)

In [29]:
google_data['SMA'] = ta.sma(close= google_data.Close)

In [30]:
netflix_data.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [31]:
netflix_data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [32]:
print(netflix_data.describe())

              Open         High          Low        Close    Adj Close  \
count  4581.000000  4581.000000  4581.000000  4581.000000  4581.000000
mean     78.031471    79.285690    76.736079    78.072056    78.072056
std     118.372084   120.276839   116.376768   118.435303   118.435303
min       0.377857     0.410714     0.346429     0.372857     0.372857
25%       3.778571     3.857143     3.685714     3.784286     3.784286
50%      15.392858    15.671429    14.970000    15.324286    15.324286
75%      97.830002    99.529999    96.760002    97.889999    97.889999
max     567.979980   575.369995   520.960022   548.729980   548.729980

             Volume
count  4.581000e+03
mean   1.760516e+07
std    1.971130e+07
min    2.856000e+05
25%    6.908900e+06
50%    1.155350e+07
75%    2.113440e+07
max    3.234140e+08

In [33]:
netflix_data['RSI'] = ta.rsi(close= netflix_data.Close)

In [34]:
netflix_data['SMA'] = ta.sma(close= netflix_data.Close)

In [35]:
facebook_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,RSI,SMA
2071,2020-08-12,258.970001,263.899994,258.109985,259.890015,259.890015,21428300,60.992188,255.182002
2072,2020-08-13,261.549988,265.160004,259.570007,261.299988,261.299988,17374000,61.866548,257.862001
2073,2020-08-14,262.309998,262.649994,258.679993,261.239990,261.239990,14792700,61.803065,258.619000
2074,2020-08-17,262.500000,264.100006,259.399994,261.160004,261.160004,13351100,61.712150,259.539000
2075,2020-08-18,260.950012,265.149994,259.260010,262.339996,262.339996,18677500,62.586537,260.789999

In [36]:
facebook_full_stock = facebook_data.to_csv('facebook_full_stock.csv')

In [37]:
apple_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,RSI,SMA
10011,2020-08-26,126.180000,126.992500,125.082497,126.522499,126.522499,163022400.0,79.387958,119.564500
10012,2020-08-27,127.142502,127.485001,123.832497,125.010002,125.010002,155552400.0,74.927079,120.564500
10013,2020-08-28,126.012497,126.442497,124.577499,124.807503,124.807503,187630000.0,74.324917,121.554500
10014,2020-08-31,127.580002,131.000000,126.000000,129.039993,129.039993,225702700.0,78.257989,122.997749
10015,2020-09-01,132.759995,134.800003,130.529999,134.179993,134.179993,151948100.0,81.886820,124.859499

In [38]:
apple_full_stock = apple_data.to_csv('apple_full_stock.csv')

In [51]:
amazon_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,RSI,SMA
5847,2020-08-10,3170.310059,3172.510010,3101.520020,3148.159912,3148.159912,3167300,57.841810,3124.678979
5848,2020-08-11,3113.199951,3159.219971,3073.000000,3080.669922,3080.669922,3718100,52.650341,3132.712964
5849,2020-08-12,3108.000000,3174.389893,3101.419922,3162.239990,3162.239990,3527200,57.603217,3145.583960
5850,2020-08-13,3182.989990,3217.520020,3155.000000,3161.020020,3161.020020,3149000,57.506331,3156.497974
5851,2020-08-14,3178.179932,3178.239990,3120.000000,3148.020020,3148.020020,2749200,56.417390,3154.831983

In [39]:
amazon_full_stock = amazon_data.to_csv('amazon_full_stock.csv')

In [40]:
netflix_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,RSI,SMA
4576,2020-07-28,496.019989,497.790009,487.760010,488.510010,488.510010,5986700,51.273830,496.816003
4577,2020-07-29,492.250000,494.920013,484.130005,484.480011,484.480011,6611800,49.807462,492.938004
4578,2020-07-30,480.709991,488.350006,477.510010,485.799988,485.799988,6608600,50.308734,488.779001
4579,2020-07-31,488.290009,494.799988,484.500000,488.880005,488.880005,5924300,51.525259,488.368002
4580,2020-08-03,490.859985,503.089996,490.230011,498.619995,498.619995,5873100,55.255769,487.989001

In [41]:
netflix_full_stock = netflix_data.to_csv('netflix_full_stock.csv')

In [42]:
google_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,RSI,SMA
4036,2020-08-31,1643.569946,1644.500000,1625.329956,1629.530029,1629.530029,1321100,66.756031,1598.482007
4037,2020-09-01,1632.160034,1659.219971,1629.530029,1655.079956,1655.079956,1133800,70.160762,1608.412000
4038,2020-09-02,1668.010010,1726.099976,1660.189941,1717.390015,1717.390015,2476100,76.485687,1625.690002
4039,2020-09-03,1699.520020,1700.000000,1607.709961,1629.510010,1629.510010,3180200,57.858366,1631.016003
4040,2020-09-04,1609.000000,1634.989990,1537.970093,1581.209961,1581.209961,2792533,50.568897,1631.580005

In [43]:
google_full_stock = google_data.to_csv('google_full_stock.csv')